<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/allam.jpg" alt="Rofiif Zufar Allam" class="img-tumbnail rounded-circle" width="200px" />
      <h1 class="display-4">Rofiif Zufar Allam</h1>
      <p>I'm your the missing piece</p>
    </div>
  </div>
</div>